/*Here are both of the fonts used in the project:*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*font-family: 'Montserrat', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*font-family: 'Rubik', sans-serif;*/
/* <style>
@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap');
</style> */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: red solid 1px; */
}

:root {
  /* Основний колір тексту (заголовки) */
  --text-color: #0e0e0e;
  /* Колір другорядного тексту (описи та підписи) */
  --secondary-text-color: #4e515b;
  --secondary-subtext-color: #7c7e86;
  --secondary-subtext-color-add: #727272;
  --header-text-color: #ffffff;
  /* Колір лінків та додаткових елементів */
  --link-color: #4b4b4b;
  --border-color: #1a1a1a;
  /* Колір акценту (золотистий/коричневий для заголовків та цифр) */
  --accent-color: #c17f2e;
  --card-text: rgb(114, 114, 114);
  /* Основний колір заднього фону */
  --background-main-color: #f7f8fa;
  /*Колір заднього фону секції*/
  --color-bg-section: #0b0b0b;
  --cart-overlay-color: rgba(0, 0, 0, 0.7);
  /* Колір sale тегу */
  --sale-tag-bg-color: #464c5c;
  --sale-tag-color: #ffffff;
  /* Колір тексту кнопки */
  --button-text-color: #ffffff;
  --button-bg-color: #c17f2e;
  --catalog-navbar-color: #0e0e0e1a;
  /* Шрифти проекту */
  --main-font-family: "Rubik";
  --secondary-font-family: "Montserrat";
  /*outline: 1px solid red;*/
  --separator: #eaeaea;
  --indicator-left: 0;
  --indicator-width: 0;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: var(--main-font-family), sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--background-main-color);
}

.container {
  max-width: 20rem;
  margin-inline: auto;
}

@media screen and (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: 64rem;
  }
}
