.footer {
    width: 100%;
    background-color: #0e0e0e;

    @media (max-width: 767px) {
        height: 1138px;
    }

    .footer__content-container {
        max-width: 1200px;
        height: 370px;
        margin: auto;

        .footer__content-nav-container {
            display: flex;

            @media (max-width: 767px) {
                flex-direction: column;
            }

            justify-content: space-between;
            padding: 80px 15px 30px 15px;

            .footer__socials-container,
            .footer__item-container,
            .footer__subscribe-container {
                width: 240px;
            }


            .footer__header-socials,
            .footer__header-menu-nav {
                color: #ffffff;
                font-size: 24px;
                font-family: var(--main-font-family);

                @media (max-width: 767px) {
                    margin: auto;
                }
            }

            .footer__socials-icons-container {
                display: flex;
                width: 70%;
                justify-content: space-between;
            }

            .footer__socials-description {
                color: #ffffff;

                @media (max-width: 767px) {
                    text-align: center;
                }
            }


            .footer__image-line {
                width: 42px;
                height: 4px;
                background-color: #c17f2e;
            }

            .footer__socials-description {
                font-size: 15px;
                font-family: var(--secondary-font-family);

            }

            .footer__link {
                font-size: 14px;
                font-family: var(--secondary-font-family);
            }

            .footer__item-container,
            .footer__socials-container {
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: 767px) {
                    align-items: center;
                    margin: auto;
                }
            }

            .footer__subscribe-container {
                height: 188px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: 767px) {
                    margin: auto;
                }

                .footer__header-menu-nav {
                    flex: 1;
                }

                .footer__form-container {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .footer__form-input {
                        width: 210px;
                        height: 50px;
                        padding: 15px 26px;
                        background-color: #272727;
                        border: 0;

                        @media (max-width: 767px) {
                            width: 100%;
                        }
                    }

                    .footer__form-input::placeholder {
                        color: #4e515b;
                    }

                    .footer__form-button {
                        width: 210px;
                        height: 51px;
                        font-size: 15px;
                        font-family: var(--secondary-font-family);
                        font-weight: 600;

                        @media (max-width: 767px) {
                            width: 100%;
                        }
                    }
                }
            }
        }



        .footer__line {
            width: 100%;
            height: 1px;
            background-color: #3e3e3e;
        }

        .footer__authorship-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 72px;
            margin-top: 5px;

            @media (max-width: 767px) {
                flex-direction: column;
            }

            .footer__authorship-icon-container,
            .footer__authorship-description {
                color: #ffffff;
                font-size: 12px;
                font-family: var(--secondary-font-family);
                font-weight: 800;
            }
        }
    }
}