@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');/*Rubik*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
        /* Основний колір тексту (заголовки) */
    --text-color: #0e0e0e; 
    /* Колір другорядного тексту (описи та підписи) */
    --secondary-text-color: #4e515b;
    /* Колір лінків та додаткових елементів */
    --link-color: #4b4b4b;
    /* Колір акценту (золотистий/коричневий для заголовків та цифр) */
    --accent-color: #c17f2e;

    scroll-behavior: smooth;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*Here are both of the fonts used in the project, already added to the index.html: 

  font-family: 'Rubik', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/