.featured-item__title {
    color: #c17f2e;
    font-size: 10px;
    font-family: Montserrat, sans-serif;
}

.featured-item__subtitle {
    text-transform: uppercase;
    font-size: 52px;
    font-family: Rubik, sans-serif;
}

.featured-item__subtitle-main {
    font-style: italic;
}