/* Liyluk Marjana*/
.rare-timepieces {
  background-color: var(--color-bg-section);
}

.rare-timepieces__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1.5rem;

  .rare-timepieces__intro {
    display: grid;
    gap: 1.5rem;
    text-align: center;

    .rare-timepieces__title {
      font-size: 0.7rem;
      font-family: var(--secondary-font-family), sans-serif;
      color: var(--accent-color);
      letter-spacing: 0.2em;
    }

    .rare-timepieces__subtitle {
      font-size: 2.1rem;
      font-family: var(--main-font-family), sans-serif;
      color: var(--sale-tag-color);
    }

    .rare-timepieces__lead {
      font-size: 1.1rem;
      font-family: var(--main-font-family), sans-serif;
      color: var(--sale-tag-color);
    }

    .rare-timepieces__description {
      font-size: 0.9rem;
      font-family: var(--secondary-font-family), sans-serif;
      color: var(--sale-tag-color);
    }

    .rare-timepieces__actions {
      max-width: 13.75rem;
      background-color: var(--button-bg-color);
      margin-inline: auto;
      padding: 0.8rem 1.3rem;
      transition: background-color 0.3s ease;
    }

    .rare-timepieces__button {
      display: block;
      text-align: center;
      text-decoration: none;
      font-family: var(--secondary-font-family);
      font-size: 0.875rem;
      color: var(--button-text-color);
      font-weight: 600;
    }

    .rare-timepieces__actions:hover {
      background-color: var(--sale-tag-color);
    }

    .rare-timepieces__actions:hover .rare-timepieces__button {
      color: var(--card-text);
    }
  }

  .rare-timepieces__carousel {
    position: relative;
    overflow: hidden;
    min-width: 0;

    .rare-timepieces__list {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scroll-padding-left: 1rem;
      min-width: 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .rare-timepieces__item {
      scroll-snap-align: start;
      flex: 0 0 auto;
    }

    .watch-card {
      width: 80vw;
      min-width: 17rem;
      box-sizing: border-box;

      .watch-card__image {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }

      .watch-card__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        text-align: center;
      }

      .watch-card__title {
        font-family: var(--main-font-family), sans-serif;
        font-size: 1.1rem;
        line-height: 1.3rem;
        font-weight: 400;
        color: var(--sale-tag-color);
      }
      .watch-card__price {
        font-family: var(--main-font-family), sans-serif;
        font-size: 1.3rem;
        color: var(--sale-tag-color);
        margin-top: 1.5rem;
      }
      .watch-card__link {
        font-family: var(--main-font-family), sans-serif;
        font-size: 1rem;
        color: var(--sale-tag-color);
        text-decoration: none;
        margin-top: 0.6rem;
      }

      .watch-card__link:hover {
        text-decoration: underline;
      }
    }
    .rare-timepieces__control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: var(--sale-tag-color);
      border: none;
      border-radius: 50%;
      font-size: 2rem;
      cursor: pointer;
    }

    .rare-timepieces__control--prev {
      left: -1rem;
    }

    .rare-timepieces__control--next {
      right: -1rem;
    }
  }
}

@media (min-width: 48rem) {
  .rare-timepieces {
    .rare-timepieces__content {
      .rare-timepieces__intro {
        text-align: left;
        align-items: start;

        .rare-timepieces__title {
          font-size: 0.8rem;
        }

        .rare-timepieces__subtitle {
          font-size: 3rem;
          font-weight: 400;
        }

        .rare-timepieces__lead {
          font-size: 1.3rem;
        }

        .rare-timepieces__description {
          font-size: 1.1rem;
        }

        .rare-timepieces__actions {
          margin-inline: 0;
          width: fit-content;
          padding-inline: 2rem;
        }
      }

      .rare-timepieces__carousel {
        align-items: center;

        .rare-timepieces__list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
          overflow: hidden;

          .watch-card {
            width: 100%;
            min-width: 0;
          }
        }

        .rare-timepieces__control {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  .container {
    max-width: 90rem;
  }

  .rare-timepieces {
    .rare-timepieces__content {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: start;
      gap: 1rem;

      .rare-timepieces__carousel {
        .rare-timepieces__list {
          grid-template-columns: repeat(4, 1fr);
          gap: 0.5rem;
          display: grid;
        }

        .watch-card {
          width: 100%;
          max-width: 15rem;
          margin-inline: auto;
          min-width: 0;
        }

        .rare-timepieces__control {
          display: flex;
        }
      }
    }
  }
}
