.rare-timepieces{
    background-color: var(--color-bg-section);
    padding: 60px 20px;

    .rare-timepieces__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 10px;
        font-family: var(--secondary-font-family), sans-serif;
        color: var(--accent-color);
    }

    .rare-timepieces__subtitle {
        text-transform: uppercase;
        text-align: center;
        font-size: 36px;
        font-family: var(--main-font-family), sans-serif;
        color: var(--sale-tag-color);
    }

    .rare-timepieces__lead {
    text-align: center;
    font-size: 18px;
    font-family: var(--main-font-family), sans-serif;
    color: var(--sale-tag-color);
    }
    
    .rare-timepieces__description {
    text-align: center;
    font-size: 14px;
    font-family: var(--secondary-font-family), sans-serif;
    color: var(--sale-tag-color);
    }

    .rare-timepieces__actions {
        width: 40%;
        background-color: var(--button-bg-color);
        margin: auto;
    }

    .rare-timepieces__button {
        width: 100%;
        color: var(--button-text-color);
        background-color: var(--button-bg-color);
        font-family: var(--secondary-font-family);
        font-size: 14px;
        text-align: center;
        }
}
                  










