.rare-timepieces{
    background-color: var(--color-bg-section-dark);
    padding: 60px 0px;
}
      
.rare-timepieces__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-family: var(--secondary-font-family), sans-serif;
    color: var(--accent-color);
}

.rare-timepieces__subtitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-family: var(--main-font-family), sans-serif;
    color: var(--sale-tag-color);
}

.rare-timepieces__lead {
    text-align: center;
    font-size: 18px;
    font-family: var(--main-font-family), sans-serif;
    color: var(--sale-tag-color);
}

.rare-timepieces__description {
    text-align: center;
    font-size: 14px;
    font-family: var(--secondary-font-family), sans-serif;
    color: var(--sale-tag-color);
}