.blog {

  padding: 3.5rem 1rem; 

  text-align: center;
}

@media (min-width: 48rem) {
  .blog {
    padding: 6.5625rem 2rem 3.75rem;
  }
}

@media (min-width: 64rem) {
  .blog {
    padding: 7.5rem 2.5rem 3.75rem;
  }
}

.blog__info {
  width: 100%;
  margin-bottom: 3rem;
}

.blog__info-title {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-size: 0.625rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 0.1875rem;
  margin-bottom: 1.5625rem;
}

.blog__info-subtitle {
  color: var(--text-color);
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

@media (min-width: 48rem) {
  .blog__info-subtitle {
    font-size: 2.8125rem;
    margin-bottom: 1.5625rem;
  }
}

@media (min-width: 64rem) {
  .blog__info-subtitle {
    font-size: 3.25rem;
  }
}

.blog__info-description {
  font-size: 1.125rem;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}

.blog__articles {
display: grid;
grid-template-columns: 1fr; 
gap: 2rem;
margin-top: 2rem;
text-align: left;

}

.blog__article {
  /* width: 100%;
  max-width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-family: var(--secondary-font-family);

}

.blog__article-date {
  display: block;
  font-size: 10px;
  color: var(--secondary-subtext-color-add);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 13px;
}

.blog__article-heading {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog__article-image {
  width: 100%;
  aspect-ratio: 37 / 35;
  object-fit: cover;
  display: block;
}

.blog__article-text {
  line-height: 1.6;
  margin-bottom: 15px;
}

.blog__article-link {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 700;
  /* font-size: 15.4px; */
}

.blog__article-link:hover,
.blog__article-link:focus-visible {
  text-decoration-line: underline;
 
}

@media (min-width: 48rem) {
  .blog__articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64rem) {
  .blog__articles {
    grid-template-columns: repeat(3, 1fr);
  }
}