.rare-timepieces {
  background-color: var(--color-bg-section);
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: flex;

  .rare-timepieces__intro {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    gap: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .rare-timepieces__title {
      text-transform: uppercase;
      text-align: center;
      font-size: 0.625rem;
      font-family: var(--secondary-font-family), sans-serif;
      color: var(--accent-color);
      letter-spacing: 0.2em;
    }

    .rare-timepieces__subtitle {
      text-transform: uppercase;
      text-align: center;
      font-size: 2.25rem;
      font-family: var(--main-font-family), sans-serif;
      color: var(--sale-tag-color);
    }

    .rare-timepieces__lead {
      text-align: center;
      font-size: 1.125rem;
      font-family: var(--main-font-family), sans-serif;
      color: var(--sale-tag-color);
    }

    .rare-timepieces__description {
      text-align: center;
      font-size: 0.875;
      font-family: var(--secondary-font-family), sans-serif;
      color: var(--sale-tag-color);
    }

    .rare-timepieces__actions {
      display: flex;
      width: 40%;
      background-color: var(--button-bg-color);
      margin: auto;
      padding: 1rem;
    }

    .rare-timepieces__button {
      width: 100%;
      color: var(--button-text-color);
      background-color: var(--button-bg-color);
      font-family: var(--secondary-font-family);
      font-size: 0.875rem;
      text-align: center;
      display: inline-block;
      text-decoration: none;
    }

    .rare-timepieces__button:hover {
      color: var(--sale-tag-color);
      text-decoration: none;
    }
  }

  .watch-card {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    gap: 1.5rem;
    justify-items: center;

    .watch-card__title, .watch-card__price, .watch-card__link {
    color: var(--sale-tag-color);
    font-size: 0.875rem;
    font-family: var(--main-font-family), sans-serif;
    }
  }
}
