.exclusive-offer__info {
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.exclusive-offer__label {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    color: var(--accent-color);
    width: 342px;
    height: 13px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}
.exclusive-offer__title{
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.exclusive-offer__description {
    text-align: center;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    color: var(--secondary-text-color);
}
/**/
.exclusive-offer__content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 0px 15px;
    /* @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-around;
    } */
}
.exclusive-offer__card {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    /* @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-around;
    } */
}
.exclusive-offer__image {
    height: 225px;
    width: 342px;
    object-fit: cover;
    margin-bottom: 30px;
}
.exclusive-offer__card-title {
    text-align: center;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
    height: 40px;
    width: 280px;
    margin-bottom: 30px;
}
.exclusive-offer__card-text {
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: var(--secondary-text-color);
    margin-bottom: 40px;
}
.exclusive-offer__link {
    font-weight: bold;
    width: fit-content; 
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: var(--link-color); 
    margin-bottom: 40px;
}
.exclusive-offer__link:hover {
    text-decoration: underline;
}
/**/
.exclusive-offer__stats {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    /* @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-around;
    } */
}
.exclusive-offer__stats-item {
    padding: 0px 20px;
    margin-top: 50px;
}
.exclusive-offer__stats-name {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-family: "Rubik", sans-serif;
    color: #727272;
    margin-top: 25px;
}
.exclusive-offer__stats-description {
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: var(--secondary-text-color);
    margin-top: 25px;
}
.exclusive-offer__stats-value {
    text-align: center;
    font-size: 40px;
    font-family: "Rubik", sans-serif;
    color: var(--accent-color);
}